/* Main stylesheet for the site */
html, body {
 height:100%;
}

html, body, div { 
  padding: 0;
  margin:  0;
  overflow: hidden;
}

        
.border {
 z-index: 99999999;
 background: #fff; 
 position: fixed;
}

.top {
  height: 2em;
  width: 100%;
  top: 0;
}

.left {
  width: 2em;
  min-height: 52em;
  height: 100%;
  left:0;
}

.right {
  width: 2em;
  min-height: 52em;
  height: 100%;
  right: 0;
}

.bottom {
  height: 2em;
  width: 100%;
  bottom: 0;
}

/* the components that I will re-used */

.container, 
.box, 
.box-small { 
  width: 100%; height: auto;
}

.container { 
  margin: 32px 0;
}

.box-small { 
  max-width: 320px;
}

.button {
  width: 160px;
  height: 50px;
  background: #f2b441;
}

.margin-auto { 
   margin-left: auto;
   margin-right: auto;
 }

.min-height--25em {
  min-height: 25em;
}

.padding-top--20 { 
  padding-top: 20%;
}

/* css for the homepage */

@font-face {
    font-family: ebgaramond;
    src: url(font/EBGaramond-Regular.tff);
}

h2, h3 {
  font-family: 'Quicksand', sans-serif;
 }

h1 {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
}

p, li, a {
  font-family: 'EB Garamond', serif;
}

i {
  font-size: 1.5em !important;
}

a {
  text-decoration: none;
  color:#fff;
}

li {
    list-style: none;
}

.nav-box, .closed-box {
  width: 5%;
  min-width: 60px;
  min-height: 60px;
  height: 5%;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
  position: absolute;
  top: 5%;
}

.nav-box {
  left: 3.5%;
}

.closed-box  {
  right: 3.5%;
}

.nav-box:hover, 
.closed-box:hover {
  cursor: pointer;
}

 .nav {
  display: none;
  border-left: 2em solid black;
  }

.menu-open {
  /*transform: rotate(45deg) translate(8px, 8px);*/
  /*transition: .5s;*/
  display:inline-block;
  width: 50%;
  height: 100%;
}

.menu-link {
   font-size: 1.5em;
   text-transform: uppercase;
}


.notice {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 999;
  background: #000;
  width: 20%;
  min-width: 100px;
  min-height: 8em;

}

.notice p { 
  color: white;
}

/*the colors that I ll used */
.color-white {
  color:#fff;
}

.color-green--light {
  color: #80cbc4;
}

.background-green--light {
  background: #80cbc4;
}

.background-white {
  background: #fff;
}


.cover {
  background-image: url('/images/the-ceilling.jpg');
  background-size: cover;
  background-position: 100% 50%;
  width: 100%;
  min-height: 52em;
  height: 100%;
  position: absolute;
  top: 0;
}

.left-box {
  min-width: 300px;
  width: 30%;
  margin-left: 20px;
  position: relative;
  top: 25%;
  left: 3.5%;
}

/* fixed for screen larger than 480px */
@media screen and (max-width: 480px) {

.notice {
  top: 0;
  left: 5%;
  width: 90%;
  min-height: 8em;
  margin-left: auto;
  margin-right: auto;
}

.notice p {
  padding: 20px;
}

.nav {
  width: 100%;
}

.top, .bottom {
  height: 1em;
  }

.left, .right {
   width: 1em;
  }

  h1 {
    font-size: 2em;
  }

  .left-box {
    top: 15%;
  }

}/* end of fixed for screen larger than 480px */