/* Main stylesheet for the site */
html, body {
 height:100%;
}

html, body, div { 
  padding: 0;
  margin:  0;
  overflow: hidden;
}

        
.border {
 z-index: 99999999;
 background: #fff; 
 position: fixed;
}

.top {
  height: 2em;
  width: 100%;
  top: 0;
}

.left {
  width: 2em;
  min-height: 52em;
  height: 100%;
  left:0;
}

.right {
  width: 2em;
  min-height: 52em;
  height: 100%;
  right: 0;
}

.bottom {
  height: 2em;
  width: 100%;
  bottom: 0;
}

/* the components that I will re-used */

.container {
 width: 100%; 
 height: 100%;
}

.container { 
  margin: 32px 0;
}

.box-small {  

  width: 100%; 
  max-width: 320px;
  height: auto;
}

.button {
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  width: 200px;
  height: 50px;
  background: #000;
  text-transform: uppercase;
  padding: 1em 3em;
  line-height: 40px;
  letter-spacing: 0.2em;
 }
 .button:hover {
  background-color: #fff;
  color:#000;
  -webkit-transition: background-color 2s, color 2s;
  transition: background-color 2s, color 2s;
  -webkit- transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
 }

/*.button:hover {
  animation-name: colorchange;
  -webkit-animation-duration: 4500ms;
  animation-duration: 4500ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
 }

@keyframes colorchange {
    from {background-color: #000; color:#fff;}
    to {background-color: #fff;color:#000;}
}*/

.margin-auto { 
   margin-left: auto;
   margin-right: auto;
 }

 .margin-zero {
  margin: 0;
 }

 .text-center {
  text-align: center;
 }

.margin-bottom--10 {
  margin-bottom: 10%;
}

.min-height--25em {
  min-height: 25em;
}

.padding-top--20 { 
  padding-top: 20%;
}

.width-max--300 {
  width: 100%;
  max-width: 300px;
}



/* css for the homepage */

h2, h3 {
  font-family: 'Quicksand', sans-serif;
 }

h1 {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
}

.marketer {
  margin-top: 0%;
  margin-bottom: 6%;
}

p, li {
  font-family: 'EB Garamond', serif;
}

i {
  font-size: 1.5em !important;
}

a {
  text-decoration: none;
  color:#fff;
}

li {
    list-style: none;
}

.nav-box, .closed-box {
  width: 5%;
  min-width: 60px;
  min-height: 60px;
  height: 5%;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
  position: absolute;
  top: 5%;
}

.nav-box {
  left: 3.5%;
}

.closed-box  {
  right: 1.5%;
}

.nav-box:hover, 
.closed-box:hover {
  cursor: pointer;
}

 .nav {
  display: none;
  /*border-left: 2em solid black;*/
  }

.menu-open {
  /*transform: rotate(45deg) translate(8px, 8px);*/
  /*transition: .5s;*/
  display:inline-block;
  width: 100%;
  height: 100%;
}

.menu-open li {
  text-align: center;
}

.menu-link {
   font-size: 1.5em;
   text-transform: uppercase;
}


.notice {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 999;
  background: #000;
  width: 20%;
  min-width: 100px;
  min-height: 8em;

}

.notice p { 
  color: white;
}

/*the colors that I ll used */
.color-white {
  color:#fff;
}

.color-green--light {
  color: #80cbc4;
}

.background-green--light {
  background: #80cbc4;
}

.background-white {
  background: #fff;
}

.background-black {
  background: #000;
}

.cover, .box {
  background-size: cover;
  background-position: 100% 50%;
  width: 100%;
  min-height: 52em;
  height: 100%;
 }

.cover {
  background-image: url('/images/the-ceilling.jpg');
  position: absolute;
  top: 0;
}

.left-box {
  min-width: 300px;
  width: 30%;
  margin-left: 20px;
  position: relative;
  top: 32.5%;
  left: 3.5%;
}

 .portfolio h1, 
  .portfolio h3 {
    color: #fff;
    text-align: center;
  }

.portfolio h1 {
  font-size: 1.1em;
  letter-spacing: 0.2em;
  margin-top: 10%;
}
.portfolio h3 {
  padding: 0.5em;
}

/* fixed for screen larger than 480px */
@media screen and (max-width: 480px) {

.notice {
  top: 0;
  left: 5%;
  width: 90%;
  min-height: 8em;
  margin-left: auto;
  margin-right: auto;
}

.notice p {
  padding: 20px;
}

.nav {
  width: 100%;
}

.top, .bottom {
  height: 1em;
  }

.left, .right {
   width: 1em;
  }

  h1 {
    font-size: 2em;
  }

  .left-box {
    top: 15%;
  }

 

}/* end of fixed for screen larger than 480px */