/* Main stylesheet for the site */

html, body, div { 
  padding: 0;
  margin:  0;
}

/* the components that I will re-used */
.container, .box { width: 100%; height: auto;}


/*the colors that I ll used */
.color-white { color:#fff;}
.color-green--light {color: #80cbc4;}
.background-green--light {background: #80cbc4;}
.background-white { background: #fff;}

/* Styling for Navigation start here */
header { height: 3em;}
.header li, footer li  { 
            display: inline; 
            padding: 10px;
            line-height: 48px;
            }
 .header li a {  text-transform: uppercase; font-size: 15px;  text-transform: uppercase; }
.header li a, footer li a { 
              text-align: center;
              text-decoration: none;
              color: #000;
              letter-spacing: 0.25em
              }
