/* Main stylesheet for the site */

html, body, div { 
  padding: 0;
  margin:  0;
}

/* fixed for the header because of the whitespace in some browser */
header {
        position: relative;
        top: -0.99em;
        }

/* the components that I will re-used */
.container, .box, .box-small { width: 100%; height: auto;}
.container { margin: 32px 0;}
.box-small { max-width: 320px;}

.margin-auto { margin-left: auto; margin-right: auto;}
.min-height--25em {min-height: 25em;}

/*the colors that I ll used */
.color-white { color:#fff;}
.color-green--light {color: #80cbc4;}
.background-green--light {background: #80cbc4;}
.background-white { background: #fff;}

/* Styling for Navigation for header and footer start here */
header { height: 3em;}
.header li, footer li  { 
            display: inline; 
            padding: 10px;
            line-height: 48px;
            }
.header li a {  text-transform: uppercase; font-size: 15px;  text-transform: uppercase; letter-spacing: 0.25em }
.header li a, footer li a { 
              text-align: center;
              text-decoration: none;
              color: #000;
              }
/* styling for the content of the homepage */
 .container h1, .container h2, .container P { padding-left: 3.5%;} 
