/* Main stylesheet for the site */

html, body, div { 
  padding: 0;
  margin:  0;
  overflow: hidden;
}

/* fixed for the header because of the whitespace in some browser */
header {
        position: relative;
        top: -0.99em;
        }
        
/* the experiment */

.top {
  height: 2em;
  width: 100%;
}

.left {
width: 2em;
height: 100%;
float: left;
}

.right {
width: 2em;
height: 100%;
float: right;
}

.bottom {
height: 2em;
  width: 100%;
  clear: both;
}

/* the components that I will re-used */


.container, .box, .box-small { width: 100%; height: auto;}
.container { margin: 32px 0;}
.box-small { max-width: 320px;}
.button {
          width: 200px;
          height: 50px;
          border: solid 1px #80cbc4;
          padding: 1.3em;
}

.margin-auto { margin-left: auto; margin-right: auto;}
.min-height--25em {min-height: 25em;}
.padding-top--20 { padding-top: 20%;}

/* css for the new homepage */

@font-face {
    font-family: ebgaramond;
    src: url(font/EBGaramond-Regular.tff);
}

h2, h3 {

    font-family: 'Quicksand', sans-serif;

    }

h1 {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
}

p, li, a {
  font-family: 'EB Garamond', serif;
}

i {

  font-size: 1.5em !important;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  color:#fff;
}

li {
    list-style: none;
}

.nav-box {

  width: 5%;
  min-width: 60px;
  min-height: 60px;
  height: 5%;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
}

.nav-box:hover {
  cursor: pointer;
}

 .nav {
  display: none;
  border-left: 2em solid black;
  }

.menu-open {
  /*transform: rotate(45deg) translate(8px, 8px);*/
  /*transition: .5s;*/
  display:inline-block;
  width: 50%;
  height: 100%;
}

.notice {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 999;
  background: #000;
  width: 20%;
  min-width: 100px;
  min-height: 8em;

}

.notice p { color: white;}


/*the colors that I ll used */
.color-white { color:#fff;}
.color-green--light {color: #80cbc4;}
.background-green--light {background: #80cbc4;}
.background-white { background: #fff;}


.cover {
background-image: url('/images/the-ceilling.jpg');
background-size: cover;
background-position: 100% 50%;
width: 95%;
height: 48em;
/*border: 2em solid #fff;*/
}

.left-box {

min-width: 300px;
width: 30%;
margin-left: 20px;
position: relative;
top: 25%;
}

/* css for sreen 1440 x 900, that's my computer screen very important :) */
@media screen and (min-width: 2560px) {
  .cover {
  background-position: 50% 50%;
  width: 95.5%;
  height: 48em;
  border: 2em solid #fff;
  }

}

/* fixed for screen larger than 375px */
@media screen and (min-width: 375px) {

  footer {position: relative; bottom: -5em;}



}/* end of fixed for screen larger than 375px */

/* fixed for screen larger than 414px */
@media screen and (min-width: 414px) {

footer { bottom: -10em; }

}/* end of fixed for screen larger than 414px */


/* fixed for screen larger than 480px */
@media screen and (max-width: 480px) {

.notice {
  top: 10%;
  max-width: 100%;
  min-height: 8em;
}

.notice p {
  padding: 20px;
}

.nav {
  width: 100%;
}


}/* end of fixed for screen larger than 480px */

/* css for extra large screen 2560x1440 */

@media screen and (min-width: 2560px) {
 

  .cover {

    background-image: url('/images/the-ceilling.jpg');
    background-position: 50% 50%;
    width: 98%;
    max-width: 2560px;
    min-height: 48em;
    height: 1898px;
  }


} /* end of extra screen 2560pxx1440 */