/* Main stylesheet for the site */

html, body, div { 
  padding: 0;
  margin:  0;
}

/* the components that I will re-used */
.box { width: 100%; height: auto;}


/*the colors that I ll used */
.color-white { color:#fff;}
.background-white { background: #fff;}

/* Styling for Navigation start here */

.header li { display: inline; padding: 10px;}
.header li a { 
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              color: #000;
              font-size: 15px;
              }
